script(type='text/javascript', src=base + "/js/logic.js")
script(type='text/javascript', src=base + "/js/jquery-1.5.2.min.js")
script(type='text/javascript')
    require(["/js/markdown/markdown.js", "/js/ace/ace.js"]);
    window.onload = function() {
        editor = ace.edit("editor");
        editor.setHighlightActiveLine(false);
        editor.setShowPrintMargin(false);
        editor.getSession().setUseWrapMode(true);

        var marked_down = document.getElementById("marked_down");
        var ta_body = document.getElementById("ta_body");
        editor.getSession().on('change', function(e) {
            var ace_text = editor.getSession().getValue();
            var md_out = markdown.toHTML(ace_text);
            ta_body.innerHTML = ace_text;
            marked_down.innerHTML = md_out;
        });
    };

    function procForm() {
        return true;
    }

    var original_y = 0, onthemove = false;
    var elAce, elMarkdown;
    $(document).ready(function() {

        elAce = $("#editor");
        elMarkdown = $("#marked_down_cont");

        $("#input_slider").hover(function() {
            $(this).addClass("hover");
        }, function() {
            $(this).removeClass("hover");
        }).mousedown(function(e) {
            onthemove = true;
            original_y = e.pageY;
            original_height = elAce.height();
        });
    }).mousemove(function(e) {
        if (onthemove) {
            height_diff = e.pageY - original_y;
            elAce.height(original_height + height_diff);
            elMarkdown.height(original_height + height_diff);
            editor.resize();
        }
    }).mouseup(function() {
        onthemove = false;
    });

- if (post.title)
  h1 Editing #{post.title}
- else
  h1 New Article

a(href="/") &laquo; front
!= messages()

form#post(action=base + '/post' + (post.title ? '/' + post.id : ''), method='post', onsubmit='return procForm()')
  - if (post.title)
    input(type='hidden', name='_method', value='put')
  p
    label(for='post[title]') Title
    input(id='post_title', type='text', name='post[title]', 
            value=post.title, onkeyup='fillNormaliseURL(this)')
  p(id='normalized_url')
    span(class='bold') URL: 
    span(id='url_lighter')
  textarea(id='ta_body', class='hidden', name='post[body]')= post.body || ''
  p Body
    div(id="ace_container")
        div(id="editor")
        div(id="marked_down_cont")
            div(id="marked_down")
  div(id="input_slider")
  //p
  //  input(name='uploads[]', type='file')
  p
    //button Save Draft
    input(type='submit', value=post.title ? 'Update' : 'Create')